@media (width<700px) {
    .container{
        flex-direction: column;
    }

    .mid{
        width: 98vw !important;
        height: 50vh;
        overflow: scroll;
        background-color: #ccc;
        border: 1px dashed #555;
        border-end-start-radius: 20px;
        border-end-end-radius: 20px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    }

    .filter{
        width: 80vw !important;
    }
    
}
